<div class="navBar">

    <div class="hrefDiv">
        <a href='./' class="navItem">Home</a>
        <a href='./sonarcloud' class="navItem">Sonarcloud </a>
        <a href='./prsonarcloud' class="navItem">PR Sonarcloud </a>
        <a href='./sentry' class="navItem">Sentry </a>
        <a href='./jenkins' class="navItem">Jenkins </a>
    </div>

</div>