<div class="homeDiv">
    <h1>TIS API Summary Dashboard</h1>

<h3>To do</h3>
<p>add time and date, icons, tis logo, latest github request, style, css, colours  </p>
<p>nav bar in center  </p>
<p>add all api's to homepage, >>add a thought of the day api to homepage??  </p>


    <div class = "topDiv">
        <div class="indexDiv">
            Sonarcloud
        </div>
        <div class="indexDiv">
            Sentry
        </div>
    </div>
    <div class="bottomDiv">
        <div class="indexDiv">
            Jenkins
        </div>
        <div class="indexDiv">
            Service Status
        </div>
    </div>
</div>