<div class="homeDiv">
    <h1>Homepage</h1>

    <div class = "topDiv">
        <div class="indexDiv">
            Sonarcloud
        </div>
        <div class="indexDiv">
            Sentry
        </div>
    </div>
    <div class="bottomDiv">
        <div class="indexDiv">
            Jenkins
        </div>
        <div class="indexDiv">
            Service Status
        </div>
    </div>
</div>