<div class="sonarDiv">
    
<h1>Pull Request Sonarcloud API</h1>
<hr>

<img class="sonarPic" src="/images/sonar.jpg" alt="sonarcloud image" /> 

<button  onclick="window.location.reload()">Click Me</button>

<p>Title of pull request: {{Title}}</p>
<p>Branch Name: {{Branch}}</p>
<p>Date of PR: {{Date}}</p>
<p>URL link: {{URL}}</p>

</div>