<div class="serviceStatusDiv">
    
<h1 >Service Status API</h1>
{{!-- 
<img class="sonarPic" src="/images/sonar.jpg" alt="sonarcloud image" />  --}}

<button  onclick="window.location.reload()">Click Me To Refresh</button>
<ion-icon name="refresh-outline"></ion-icon>

<p>Current Status Message: {{Data}}</p>
<p>Colour: </p>
<p>Date Created: </p>



</div>