html{
    box-sizing: border-box;
    
}
/* index Styling */
.homeDiv{
    align-items: center;
    display:flex;
    flex-direction: column;
}
.indexDiv{
    width:500px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    }
.topDiv{
    display: inline-flex;
}
.bottomDiv{
    display: inline-flex;
}

/* Nav Bar Styling */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
.navBar{
    background-color:black;
    color: white;
    font-size: 20px;
    height: 200px;
    width: 12vw;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;   
    font-family: 'Permanent Marker', cursive;
    
   
}

a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    height: 50px;
    border-right-style: solid;
    border-right-color:lightgrey;
  }
.navItem{
    display: flex; 
    justify-content: left; 
    align-items: left;
}
.hrefDiv{
    display: block;
}

/* api Styling  need to delete this, from mern project*/
.apiDiv{
    background-image: url("/images/beach.jpeg");
    /* background-position: center; */
     background-repeat: no-repeat; 
    background-size: auto;
    background-position: center center;
    /* position: relative; */
    height: 100vh;
    background-color: brown;

  
} 
.form{
    align-items: center;
    display:flex;
    flex-direction: column;
}
.apiForm{
    display: inline;
    
}
.apiHead{
    margin: 0;
}
.apiIcon{
visibility: hidden;
}
input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: .25rem;
    font-size: 16px;
  }
  input[type=text]:focus {
    background-color: lightblue;
  }
  input[type=submit] {
    background-color: rgb(97, 150, 97);
    color:white;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 4px;
    width: 10%;
  }
  input[type=submit]:apiIcon{
      visibility: visible;
  }

  .submit:hover{
        background-color: #555555;
        color: white;
        cursor: pointer;
  }

  /* Sonarcloud Styling */
  .sonarDiv{
    align-items: center;
    display:flex;
    flex-direction: column;
  }
  .sonarPic{
    width:100px;
    height: 100px;
}
/* Sentry Styling */
.sentryDiv{
    align-items: center;
    display:flex;
    flex-direction: column;
}

/* Jenkins Styling */
.jenkinsDiv{
    align-items: center;
    display:flex;
    flex-direction: column;
    margin-top:20%;
}
/* Service Status Div */
.serviceStatusDiv{
    align-items: center;
    display:flex;
    flex-direction: column;
}